$grey: rgb(239, 239, 239);

.button-container {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-button {
  ion-icon {
    margin-right: 5px;
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.golder-rules {
  padding: 0px 15px;
  margin-top: 30px;
  border-top: 1px solid $grey;

  ol {
    margin: 0px;
    padding: 15px;
    font-size: 0.85em;
    font-family: -webkit-pictograph;

    li {
      margin-bottom: 15px;
    }
  }
}
